.image{
    height: 8rem;
    margin: 30px;
    border-radius: 96px;
    width: 8rem;
}

/* .img{
    background-color: black;
    height: 9rem;
    width: 9rem;
    margin: auto3px;
    margin: 2rem 4rem;
    border-radius: 75px;
} */

